Header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-image: url("../img/banner.jpg");
  background-size: cover;
  background-attachment: inherit;
  background-position: center center;
  background-repeat: no-repeat;
  background-position: center bottom;
  width: 100%;
  height: 100vh;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  background: transparent;
  height: auto;
  width: 100%;
  margin-top: 35vh;
  padding: 10vh 0;
  color: white !important;
  text-shadow: 2px 3px 2px grey;
  z-index: 0;

  #first-arrow {
    font-size: 4em;
    color: white;
    text-shadow: 2px 3px 2px grey;
  }
}

.title h2 {
  font-size: 6.2vh;
  color: white !important;

}

.navbar-inverse .navbar-brand {
  color: white;
  font-size: 1.5em;
  font-weight: 700;

  // font-family: 'Pacifico';
}

.navbar-brand span {
  color: lightgreen;
  font-weight: 700;
}

.navbar-inverse {
  width: 100%;
  height: auto;
  position: fixed;
  padding: 0;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
  font-size: 1.0em;
  text-transform: uppercase;
}

.navbar-inverse .navbar-nav > li > a:hover {
  color: white;
  border: 1px hidden grey;
  border-left: solid;
  border-top: hidden;
  border-right: hidden;
}

.navbar-inverse .navbar-toggle .icon-bar {
  background: grey;
  color: white;
}

.container-brand {
  width: 20%;
  margin-right: 23vw;
  color: white;
}

.container-brand img {
  width: 50%;
  height: auto;
}

#bs-example-navbar-collapse-1 ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-transform: lowercase;
}

.navbar-inverse {
  background: rgb(58, 58, 58);
  width: 100%;
  height: auto;
  position: fixed;
  padding: 0.5vh;
  z-index: 1;
}
